@import 'tailwindcss/preflight';
@tailwind utilities;

@import 'tailwindcss';

@theme {
  --color-deltarune-yellow: #f9ff10;
  --color-deltarune-gray: #7f7f7f;
  --color-deltarune-red: #ff2020;
  --color-deltarune-green: #0f0;

  --font-pixel: 'pixel';
  --font-pixel-bold: 'pixel-bold';

  --animate-slideDownHeight: slide-down-height 0.2s ease-in-out;

  @keyframes slide-down-height {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 1000px;
      opacity: 1;
    }
  }

  --animate-slideUpHeight: slide-up-height 0.4s ease-in-out;

  @keyframes slide-up-height {
    from {
      max-height: 1000px;
      opacity: 1;
    }
    to {
      max-height: 0;
      opacity: 0;
    }
  }
}

@font-face {
  font-family: 'pixel-bold';
  src: url('./fonts/8bitOperatorPlus-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'pixel';
  src: url('./fonts/8bitOperatorPlus-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
  color: white;
}

p {
  font-family: 'pixel';
  white-space: pre-wrap;
  margin-bottom: 30px;
}

img {
  margin: 0 0 24px 0;
}

li {
  font-family: 'pixel';
  list-style-type: square;
  list-style-position: inside;
  margin: 0px 0px 14px 0px;
}

.collapsible-content {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.text-gradient-yellow-green {
  background: linear-gradient(
    to right,
    var(--color-deltarune-yellow),
    var(--color-deltarune-green)
  );

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.pixel-bold-group p {
  font-family: 'pixel-bold';
}

.grid-background {
  background-image: url('/assets/q12025/grid.png');
  -webkit-mask: linear-gradient(
    transparent,
    #000 12%,
    #000 90%,
    transparent 100%
  );
  mask: linear-gradient(transparent, #000 12%, #000 90%, transparent 100%);
}
